body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c471f5, #fa71cd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    width: 300px;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}
