body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 150px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 15% auto;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}
